<footer
  id="contact"
  class="bg-surface-container-low dark:bg-surface-container-lowest border-t border-outline-variant dark:border-surface-variant full-width py-12 mt-auto"
>
  <div
    class="flex flex-col md:flex-row justify-between items-center w-full px-margin-mobile md:px-margin-desktop max-w-max-width mx-auto gap-gutter"
  >
    <div class="text-label-md font-label-md text-on-surface">
      © 2026 Carrie Gale. Built with HTML, CSS and JS (+ caffeine ☕).
    </div>
    <div class="flex gap-6">
      <a
        class="text-on-surface-variant hover:text-primary underline underline-offset-4 transition-all text-label-md font-label-md"
        href="/assets/resume.pdf"
        download="Carrie Gale - Junior Software Engineer.pdf"
        >Resume</a
      >
      <a
        class="text-on-surface-variant hover:text-primary underline underline-offset-4 transition-all text-label-md font-label-md"
        href="https://github.com/carriegale2710"
        >Github</a
      >
      <a
        class="text-on-surface-variant hover:text-primary underline underline-offset-4 transition-all text-label-md font-label-md"
        href="https://linkedin.com/in/carrie-gale"
        >LinkedIn</a
      >
      <a
        class="text-on-surface-variant hover:text-primary underline underline-offset-4 transition-all text-label-md font-label-md"
        href="https://github.com/carriegale2710/stitch-portfolio"
        >Source</a
      >
    </div>
  </div>
</footer>
