<header
  class="bg-surface/90 dark:bg-surface/90 backdrop-blur-sm border-b border-outline-variant dark:border-surface-variant docked full-width top-0 sticky z-50"
  style="position: sticky; top: 0; z-index: 50"
>
  <nav
    class="flex justify-between items-center w-full px-margin-mobile md:px-margin-desktop max-w-max-width mx-auto h-16"
  >
    <a href="index.html">
      <div
        class="text-headline-lg font-headline-lg text-primary dark:text-primary-fixed-dim tracking-tighter cursor-default"
      >
        Carrie.Gale
      </div>
    </a>
    <div class="flex items-center gap-8">
      <div class="hidden md:flex gap-gutter items-center">
        <a
          class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary dark:hover:text-primary-fixed-dim transition-colors text-label-md font-label-md hover:bg-surface-container-high dark:hover:bg-surface-container-highest transition-all duration-200"
          href="index.html#projects"
          >Projects</a
        >
        <a
          class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary dark:hover:text-primary-fixed-dim transition-colors text-label-md font-label-md hover:bg-surface-container-high dark:hover:bg-surface-container-highest transition-all duration-200"
          href="index.html#about"
          >About</a
        >
        <a
          class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary dark:hover:text-primary-fixed-dim transition-colors text-label-md font-label-md hover:bg-surface-container-high dark:hover:bg-surface-container-highest transition-all duration-200"
          href="index.html#contact"
          >Contact</a
        >
      </div>
      <div class="flex items-center gap-4">
        <a
          href="/assets/resume.pdf"
          download="Carrie Gale - Junior Software Engineer.pdf"
        >
          <button
            class="hidden md:flex items-center gap-2 bg-primary text-on-primary px-4 py-2 text-label-md font-label-md hover:translate-y-[2px] hover:translate-x-[2px] transition-transform shadow-[2px_2px_0px_#8ca693]"
          >
            Resume
          </button>
        </a>
      </div>
    </div>
  </nav>
</header>
